/* Jangan Dihapus/Edit :) */
body,
html,
img {
  margin: 0;
  padding: 0;
}

html,
input {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #666;
}

img {
  display: block;
  width: 100%;
  max-width: 600px;
}

.section {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section img {
  margin: 0;
  padding: 0;
  max-width: 600px;
  width: 100%;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  color: #71c55d;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: #101f0c;
}

.section-title div {
  color: var(--heading-color);
  margin: 10px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  /* font-family: var(--heading-font); */
}

.section-title div .description-title {
  color: #71c55d;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Bottom Menu Navbar Dibawah ini  */

.nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Countdown Dibawah ini  */

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.time-container {
  background-color: lightgreen;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  min-width: 90px;
  text-align: center;
  font-weight: 800;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 40px;
  z-index: 2;
  background-color: #1e5f29;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Navbar Menu Dibawah ini  */

#header {
  background-color: #1e5f29;
  overflow: hidden;
}
.navbar {
  padding: 15px 0;
}

.navbar a {
  text-decoration: none;
}
.logo {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

h2.center-logo {
  margin: 0 25px;
}
#navbarSupportedContent {
  justify-content: center;
}
ul.navbar-nav li.nav-item {
  margin-right: 25px;
}
ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Toast Dibawah ini  */
#toast-container {
  position: fixed;
  z-index: 2;
  top: 1rem;
  right: 1rem;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Carousel Dibawah ini  */
.carousel-control-next-icon {
  color: #00cc18;
  background-color: #f71a1a;
}

.carousel-control-prev-icon {
  color: #00cc18;
  background-color: #f71a1a;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Floating Button Dibawah ini  */
.floating-btn {
  position: fixed;
  z-index: 2;
  transform: translateX(-50%);
  bottom: 20px;
  width: 100px;
  /* right: 20px; */
  width: 70%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.floating-btn img {
  width: 7.5cm;
}
/* <!-- ====================================================================================================================== --> */

/* Gunnakan Class ini jika ingin menggunakan tombol diatas gambar */
.buttons-above {
  background-color: #00cc18;
  border: 2px solid #000;
  color: #000;
  z-index: 2;
  padding: 15px 32px;
  margin: 2% 0 3% 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgb;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Button CS Dibawah ini  */
.buttons-cs {
  background-color: #00cc18;
  /* border-radius: 30px; */
  border: 2px solid #000;
  color: #000;
  padding: 15px 32px;
  margin: 2% 0 3% 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.5);
}

.buttons-cs:hover {
  background-color: #00cc18;
  border: 2px solid #fff;
  color: white;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Button Ambil Promo Dibawah ini  */
.buttons-ambil-promo {
  background-color: #cd0000;
  border: 2px solid #000;
  color: #fff;
  padding: 15px 32px;
  margin: 2% 0 3% 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.5);
}

.buttons-ambil-promo:hover {
  background-color: #cd0000;
  border: 2px solid #fff;
  color: white;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Cek Promo Dibawah ini  */
.buttons-cek-promo {
  background-color: #ff006a;
  border: 2px solid #000;
  color: #4300c0;
  padding: 15px 32px;
  margin: 2% 0 3% 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.5);
}

.buttons-cek-promo:hover {
  background-color: #00337c;
  border: 2px solid #fff;
  color: white;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Button Pesan Dibawah ini  */
.buttons-pesan {
  background-color: #00b223;
  border: 4px solid #fff;
  color: #fff;
  padding: 7px 16px;
  margin: 2% 0 3% 0;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.5);
}

/* Edit Alert Dibawah ini  */
.alert {
  margin: 0 8%;
  padding: 20px;
  background-color: #d9edf7;
  color: #31708f;
}

.closebtnAlert {
  margin-left: 15px;
  color: #31708f;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtnAlert:hover {
  color: black;
}
/* <!-- ====================================================================================================================== --> */

/* Kode CSS Form Loops */
.title-form {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 34px;
  color: #000000;
  font-weight: 800;
}

.loops-group {
  display: block;
  margin-bottom: 20px;
}

.loops-group label {
  font-weight: bold;
}

.loops-group input {
  display: block;
  margin: 4px 0;
  padding: 10px;
  width: 96%;
  border: 1px solid #b9d1be;
  border-radius: 8px;
}

.loops-group textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.loops-group input.loops-submit {
  padding: 10px 20px;
  font-weight: medium;
  background: #81bd4b;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.loops-group input.loops-submit:hover {
  opacity: 0.8;
}

.loops-footer {
  font-size: 11px;
  color: #ccc;
  font-style: italic;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Slidwshow Dibawah ini  */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Popup Modal Dibawah ini  */
.modal-custom {
  border-radius: 10px;
  margin: 7% 4%;
  padding: 5px 25px;
  background: #ffe610;
  border: 4px solid red;
}
/* <!-- ====================================================================================================================== --> */

/* Edit Carousel Dibawah ini  */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* <!-- ====================================================================================================================== --> */

/* Edit Bottom Navbar Dibawah ini  */
.navbar-bottom {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #4ba100;
  position: fixed;
  padding: 6px;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.navbar-bottom a {
  float: left;
  display: block;
  color: #000000;
  border-radius: 10px;
  background-color: #c0fa8d;
  text-align: center;
  padding: 10px;
  margin: 4px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

/* <!-- ====================================================================================================================== --> */

/* Edit Daftar Harga dibawah ini  */
.pricing .pricing-tem {
  background-color: var(--surface-color);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #71c55d;
  padding: 40px 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #fff;
  background: #71c55d;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #71c55d;
}

.pricing .btn-buy:hover {
  background: #71c55d;
  color: #fff;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #71c55d;
  color: #fff;
}

/* <!-- ====================================================================================================================== --> */

/* Jangan diedit ya :) */

@media (min-width: 1200px) {
  .pricing .pricing-tem:hover {
    transform: scale(1.1);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
